/* Customize the web's scrollbar */ 
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000b0 #fcebd6d2;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #fcfbd6d2;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000079;
  border-radius: 20px;
  border: 3px solid #fcfbd6d2;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #000000b0;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;  
  font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    background-color: #faa93e;
    padding: 1.25% 9% 0.5%;
    top: 0;
    height: 60px;
    width: 100%;
    color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
    z-index: 3;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 05% 9% 5% 9%;
  width: 100%;
  color: white;
  background-image: url("../../img/footer.jpg");
}


@media only screen and (min-width: 850px) {
  footer {
    margin-top: -60px;
    height: 60px;  
  }
}
@media only screen and (max-width: 850px) {
  footer {
    margin-top: -150px;
    height: 150px;  
  }
}

h1 {
  color: #fa9c21;
  text-align: center;
}

.content {
  padding-top: 90px;
  padding-bottom: 120px;
}

p {
  text-align: justify;
  padding: auto 3.5%;
}