@mixin fippingItem {
    transition: transform 20s;
    transform-style: preserve-3d;  
    -webkit-animation: animationFlipbox 10s infinite;
    animation: animationFlipbox 10s infinite;
}

.paper {
    background-color: white;
    padding: 4% 4%;
    margin: 5% 5%;
    box-shadow: 1px 3px 4px 3px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.brandname {
    width: fit-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 

    i {
        @include fippingItem;
    }
}

.dropdownGrid a i {
    @include fippingItem;
}

@-webkit-keyframes animationFlipbox {
40%{transform:rotateY(0deg)}
50%{transform:rotateY(180deg)}
90%{transform:rotateY(180deg)}
100%{transform:rotateY(0deg)}
}
@keyframes animationFlipbox {
40%{transform:rotateY(0deg)}
50%{transform:rotateY(180deg)}
90%{transform:rotateY(180deg)}
100%{transform:rotateY(0deg)}
}

/** SLIDESHOW **/
.slideshow,
.slideshow:after { 
    position: relative;
    top: -25px;
    width: 100%;
    height: 100%;
    color: white;
    left: 0px;
    z-index: 0; 
}

.slideshow li span { 
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s; 
}

.slideshow li:nth-child(1) span { 
    background-image: url("../../img/home/intro1.jpg"); 
}
.slideshow li:nth-child(2) span { 
    background-image: url("../../img/home/intro2.jpeg");
    animation-delay: 6s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url("../../img/home/intro3.jpg");
    animation-delay: 12s; 
}
.slideshow li:nth-child(4) span { 
    background-image: url("../../img/home/intro4.jpg");   
    animation-delay: 18s; 
}
.slideshow li:nth-child(5) span { 
    background-image: url("../../img/home/intro5.jpg");   
    animation-delay: 24s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}

@media only screen and (min-width: 850px) {
  .brandname {
    font-size: 1.8vw; 
  }
}
@media only screen and (max-width: 850px) {
    .brandname {
        font-size: 130%;
    }
}

.addressShow {
    display: grid;
    padding: 0 5% 8% 5%;
    height: fit-content;
    grid-gap: 2%;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}

.addressBox {
    position: relative;
    padding: 1% 1%;
    width: auto;
    height: 120px;
    border: 1px solid rgb(194, 194, 194);  
    border-radius: 0.2em;
    background-color: white;
    color: rgba(22, 15, 1, 0.993);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s ease;

    img {
        width: 40%; 
        height: 100%; 
    }
}

.address {
  display: inline;
  width: 58%;
  padding-left: 1%;
  float: right;
  background-color: transparent;
}

.addressBox:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}